body,
html {
  background-color: var(--color-background);
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 3em;
  box-sizing: border-box;
}

.card {
  border: 1px solid #111111;
  max-width: 384px;
  padding: 24px;
  height: auto;
  width: 100%;
  display: flex;
  gap: 24px;
  background-color: var(--color-card-background);
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 8px 8px 0 0 #000000;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  box-sizing: border-box;
}

#illustration-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.card-main-heading-text:hover{
    color: var(--color-background);
}

.card-tag {
  background-color: var(--color-background);
  padding: 4px 12px;
  border-radius: 4px;
}

#user-icon {
  width: 32px;
  height: 32px;
}
.user-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

a {
    text-decoration: none;
}