body {
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  background-color: rgb(238, 238, 58);
  display: inline-block;
}
p {
  font-size: 18px;
}
button {
  font-size: 14px;
  background-color: rgb(238, 238, 58);
  border: none;
  padding: 5px 2px;
}

button:hover {
  background-color: black;
  color: rgb(238, 238, 58);
  text-decoration: underline;
}
